@media (max-width: 480px) {

  @font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
  }

  body {
    margin: 0;
    overflow-x: hidden;
  }

  .scroll-block {
    height: 100vh;
    overflow-y: hidden;
  }

  header {
    padding: 20px;
    display: flex;
    justify-content: end;
  }

  .burger-wrap {
    width: 22px;
    height: 20px;
    position: relative;
    cursor: pointer;
    z-index: 10000;
  }

  .burger {
    width: 22px;
    height: 2px;
    position: absolute;
    background-color: #000000;
    transition: all .25s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }

  .upper-line {
    left: 0;
  }

  .upper-line-active {
    transform: translateY(10px) translateY(-50%) rotate(-45deg);
  }

  .mid-line {
    margin: 9px 0;
    top: 0;
    left: 0;
  }

  .mid-line-active {
    opacity: 0;
  }

  .down-line {
    left: 0;
    bottom: 0;
  }

  .down-line-active {
    transform: translateY(-10px) translateY(50%) rotate(45deg);
  }

  article {
    padding: 0 10px 50px 10px;
  }

  #my-name {
    margin: 0;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 37px;
    text-align: center;
    color: #000000;
  }

  #about-me {
    margin: 10px 0 0 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 19px;
    text-align: center;
    color: #000000;
  }

  .card-wrap {
    padding: 5px 20px 30px 20px;
  }

  .card-1 {
    background-color: #CCC6C6;
  }

  .card-3 {
    background-color: #FADCD6;
  }

  .card-4 {
    background-color: #E5C7B5;
  }

  .card-5 {
    padding-top: 20px;
  }

  .card-6 {
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #CCC6C6;
  }

  .card-number {
    margin: 0 0 5px 0;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
  }

  .card-header {
    margin: 0 0 20px 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 19px;
    text-align: center;
    color: #000000;
  }

  .card-text {
    margin: 0 0 15px 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    text-align: justify;
    color: #000000;
    hyphens: manual;
  }

  .card-text-page {
    margin: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    color: #000000;
  }

  .card-wrap ul {
    margin: 0;
  }

  .card-wrap li {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    color: #000000;
  }

  .href-wrap {
    display: flex;
    justify-content: center;
  }

  .href-wrap > a {
    margin: 0;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #000000;
  }

  #sandstone {
    width: 100vw;
    height: 273px;
    display: block;
    object-fit: cover;
    object-position: 50% 50%;
  }

  #getting-help {
    padding: 40px 20px;
  }

  #getting-help > h1 {
    margin: 0 0 17px 0;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000000;
  }

  #getting-help > p {
    margin: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }

  .circle-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
  }

  .circle-1 {
    background-color: #CCC6C6;
  }

  .circle-2 {
    background-color: #FADCD6;
  }

  .circle-3 {
    background-color: #E5C7B5;
  }

  .circle-4 {
    background-color: #B6D1D9;
  }

  .circle-5 {
    background-color: #E8EFF1;
  }

  #circle-wrap > p {
    margin: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
  }

  form {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-wrap {
    width: 100%;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
  }

  .input-wrap-error {
    margin: 0;
    border: 1px solid #FF0000;
  }

  .input-wrap > input {
    width: 100%;
    border-width: 0;
    box-sizing: border-box;
    padding: 3px 3px 6px 12px;
    cursor: text;
    outline: none;
  }

  .input-wrap > input, .input-wrap > input::placeholder {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    color: #000000;
  }

  .input-wrap > textarea {
    width: 100%;
    height: 130px;
    border-width: 0;
    box-sizing: border-box;
    padding: 0 10px 3px 12px;
    cursor: text;
    outline: none;
    resize: none;
  }

  .input-wrap > textarea, .input-wrap > textarea::placeholder {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
    color: #000000;
  }

  #submit-btn {
    border: none;
    padding: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }

  small {
    margin-bottom: 10px;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 10px;
    text-align: center;
    color: #FF0000;
  }

  #made-by {
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: center;
  }

  #made-by > span {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 14px;
    letter-spacing: 1.4px;
    text-align: center;
    color: #6E6E6D;
  }

  nav {
    padding-top: 60px;
    width: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    z-index: 9999;
  }

  .menu-wrap-open {
    animation-name: menu-wrap-animation;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes menu-wrap-animation {
    from {
      width: 0;
    }

    to {
      width: 100vw;
    }
  }

  .menu-open {
    animation-name: menu-animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes menu-animation {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to {
      visibility: visible;
      opacity: 1;
    }
  }

  nav ul {
    margin: 0;
    padding: 0;
    width: 50%;
    visibility: hidden;
    opacity: 0;
  }

  nav li {
    border-width: 0;
    border-style: solid;
    box-shadow: 0px 1px 0px 0px #000000;
    box-sizing: border-box;
    display: block;
    text-align: center;
  }

  nav a {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 16px;
    line-height: 42px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }

}