@media (min-width: 481px) and (max-width: 768px) {

  @font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
  }
  
  @font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
  }

  body {
    margin: 0;
  }
  
  header {
    padding: 2.6vw;
    
    .burger-wrap {
      display: none;
    }

    nav {

      ul {
        display: flex;
        column-gap: 4vw;
        margin: 0;
        padding: 0;
      }

      li {
        display: block;
      }

      a {
        display: block;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 1.823vw;
        line-height: 5.208vw;
        text-decoration: none;
        color: #000000;
      }
    }
  }

  #my-name {
    margin: 0;
    font-family: Montserrat-SemiBold, sans-serif;
    font-size: 8vw;
    text-align: center;
    color: #000000;
  }

  #about-me {
    margin: 0;
    font-family: Montserrat-Regular, sans-serif;
    font-size: 3vw;
    text-align: center;
    color: #000000;
  }

  #grid {
    display: grid;
    grid-template-areas: 
      'first second third fourth'
      'fifth fifth sandstone sixth';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95vw 95vw;

    .card-wrap {
      padding: 2vw;

      .card-number {
        margin: 0;
        font-family: Montserrat-SemiBold, sans-serif;
        font-size: 3.5vw;
        text-align: center;
        color: #000000;
      }

      .card-header {
        margin: 0;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 2.5vw;
        line-height: 3.5vw;
        text-align: center;
        color: #000000;
      }

      .card-text {
        margin: 0;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 1.5vw;
        text-align: center;
        color: #000000;
      }

      .card-text-page {
        margin: 0;
        font-family: Montserrat-Regular, sans-serif;
        font-size: 1.5vw;
        text-align: left;
        color: #000000;
      }

      .href-wrap {
        display: flex;
        justify-content: center;

        a {
          margin: 0;
          padding-bottom: 10px;
          border-bottom: 1px solid #000000;
          font-family: Montserrat-Regular, sans-serif;
          font-size: 2vw;
          text-decoration: none;
          color: #000000;
        }
      }
    }

    .card-1 {
      grid-area: first;
      background-color: #CCC6C6;
    }

    .card-2 {
      grid-area: second;
    }

    .card-3 {
      grid-area: third;
      background-color: #FADCD6;
    }

    .card-4 {
      grid-area: fourth;
      background-color: #E5C7B5;
    }

    .card-5 {
      grid-area: fifth;
    }

    #sandstone {
      width: 100%;
      height: 100%;
      grid-area: sandstone;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .card-6 {
      grid-area: sixth;
      background-color: #CCC6C6;
    }
  }
}